[submodule "backend"]
	path = backend
	url = https://github.com/woorifisa-service-dev-3rd/backend-2nd-LawlessZone.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/woorifisa-service-dev-3rd/backend-2nd-LawlessZone-frontend.git
